set timeout=-1
set default=0

menuentry 'CE-OS USB BOOT WORKS' {
    clear
    echo
    echo 'CE-OS USB BOOT WORKS'
    echo
    echo 'GRUB was launched from the Pixel 6.'
    echo
    echo 'Press any key to return.'
    read
}
