CEOS_HOSTNAME=UNRESOLVED
CEOS_ADMIN_USER=UNRESOLVED
CEOS_TIMEZONE=UNRESOLVED
CEOS_PASSWORD_HASH=UNRESOLVED
CEOS_ADMIN_SSH_PUBLIC_KEY=UNRESOLVED
CEOS_REVIEWED_STORAGE_CONFIGURATION=UNRESOLVED

CEOS_WIFI_ENABLE=true
CEOS_WIFI_SSID=UNRESOLVED
CEOS_WIFI_PSK=UNRESOLVED
